@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,100&family=Roboto:wght@300;700&display=swap');

:root{
   

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;

}



::-webkit-scrollbar{
    width: 5px;
    
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to right bottom, #ffa400,#00aefd);
    border-radius: 10px;
}



.body{
    background: #f0f0f0;
    position: relative;
    transition: var(--tran-05);
    min-height: 100vh;
    
}



a{
    text-decoration: none;
    color: #000;
}

i{
    cursor: pointer;
   
}

/*header*/

.flex-box{
    background: #fff;
    padding: 0 2.5vw;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    
}

.left-flb{
    position: fixed;
    display: flex;
    
}

.left-flb button{
    border: 0;
    background: none;
}


.left-flb img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.left-flb span{
    font-size: 20px;
    color: black;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.left-flb p{
    font-size: 8px;
}



/*search-bar*/

.center-flb{
    display: flex;
    position: fixed;
    left: 35%;
    width: 30%;
}

.center-flb .search-bar{
    position: relative;
    border: 1px solid #dbdbdb;
    max-width: 500px;
    width: 100%;
    height: 35px;
    
    outline: none;
    display: flex;
}

.center-flb .search-bar input{
    width: 85%;
    height: 100%;
    border: 0 solid #dbdbdb;
    font-size: 12px;
    text-transform: capitalize;
    padding: 0 10px;
    outline: none;
}

.center-flb .search-bar .search-btn{
    width: 15%;
    margin-left: 10px;
    height: 100%;
    background: #f0f0f0;
    border: 0 solid #dbdbdb;
    padding: 5px 0;
    overflow: hidden;
    font-size: 15px;
    outline: none;
}


.center-flb .search-bar .search-btn i{
    margin-top: 2px;
}

.center-flb #mic{
    font-size: 15px;
    padding: 8px;
    background: #f0f0f0;
    border-radius: 50%;
    position: fixed;
    left: 66%;
}

.right-flb{
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
}

.right-flb i{
    font-size: 15px;
    margin: 10px;
    
}

/*slide bar*/



.slide-bar{
    height: 100%;
    min-width: 50px;
    width: 250px;
    background: #fff;
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0px;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow-x: hidden;
    transition: var(--tran-05);
    
    
   
}

.slide-bar.close{
    width: 75px;
    overflow-x: hidden;
}

.slide-bar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.slide-bar.close ~ .main{
    margin-left: 50px;
}

.slide-bar.close ~ .nav-sld{
    position: fixed;
    left: 10px;
    
}



.slide-bar:hover{
    overflow-y: auto;
    overflow-x: hidden;
}


hr{
    margin: 15px 0;
    border: 0;
    border-bottom: 1px solid #d4d4d4;
}


.slide-bar ul{
    list-style: none;
   
}
.slide-bar ul li{
    padding: 8px;
    margin: 1%;
    color: #242424;
    
    
}

.slide-bar ul li i{
    font-size: 15px;
    width: 100%;
    padding: 10px 20px;
    transition: var(--tran-03);
    
}

.slide-bar ul li i a{
    font-size: 15px;
    margin-left: 10px;
    font-weight: normal;
    opacity: 1;
    

}

.slide-bar.close ul li i a{
    opacity: 0;
}

.slide-bar.close ~ main{
    margin-left: 122px;
}

.slide-bar.close ~ nav{
    margin-left: 95px;
}


.slide-bar ul li:hover{
    background-color: #d4d4d4;
    cursor: pointer;
}



/*nav*/
.nav-sld{
    position: fixed;
    left: 250px;
    top: 60px;
    padding: 0px 20px;
    background-color: white;
    width: 100%;
    height: 60px;
    transition: var(--tran-05);
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100% - 250px);
}



.nav-sld::-webkit-scrollbar{
    display: none;
}



   
.nav-op{
    flex: 0 0 auto;
    background: #f0f0f0;
    font-size: 13px;
    padding: 10px 20px;
    border: 1px solid #dbdbdb;
    color: #242424;
    margin:10px 0px;
    text-transform: capitalize;
    border-radius: 50px;
    cursor: pointer;
    
    
   
}

.nav-op.active{
    color: #fff;
    background: #e81a1a;
}


.nav-op:active {
    color: #fff;
    background: #242424;
}

/*video content*/

main{
    width: calc(100% - 250px);
    margin-top: 120px;
    margin-left: 250px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 20px 5px;
    overflow-x: hidden;
    transition: var(--tran-05);

}



.content{
    
    min-height: 250px;
    height: auto;
}
.mota{
    margin-top: 10px;
    display: flex;
}

.chitiet span {
    font-weight: bold;
    font-size: 14px;
}

.chitiet p{
    font-size: 10px;
    margin-top: 8px;
}


.chitiet{
    display: block;
   margin-left: 10px;
}


.thumb{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.author{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/*reponsive*/


@media screen and (max-width:1082px) {
    main{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width:885px) {
    main{
        display: grid;
        grid-template-columns: auto auto ;
    }
}

@media screen and (max-width:685px) {
    main{
        margin-left: 75px;
        width: calc(100% - 55px);
        display: grid;
        grid-template-columns: auto ;
    }
}

@media screen and (max-width:685px) {
    .slide-bar ul li i a{
    display: none;
   }

   .slide-bar{
    width: 12%;
    
   }
   main{
    margin-left: 133px;
   }

   .nav-sld{
    display: none;
   }
}




@media screen and (max-width:460px) {
    .center-flb .search-bar input{
        display: none;
    }
    .center-flb .search-bar{
        border: 0px;
    }
    .center-flb .search-bar .search-btn{
        background: none;
        margin-left: 90px;
    }
    
    
}

@media screen and (max-width:360px) {
    .center-flb .search-bar .search-btn{
        margin-left: 50px;
    }

    .center-flb #mic{
        margin-left: -34px;
    }
}


@media screen and (max-width:328px) {
    .center-flb .search-bar .search-btn{
        display: none;
    }

    .center-flb #mic{
        display: none;
    }
}
